body {
  text-align: center;
  background-color: #1b6ef2;
}
#content {
  text-align: left;
  display: inline-block;
  align-items: center;
  background-color: #478eff;
}

#link {
  align-items: center;
  text-align: center;
}

.question {
  background-color: #72a5f7;
  padding: 10px;
}

#submit {
  margin-left: 10px;
}
